/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v12-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-bold - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter-v12-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* forum-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/forum-v16-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Inter';
  font-style: normal;
  font-size: 20px;
  background-color: rgb(230, 230, 230);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

/* header styles start */

.header {
  background: #0C0C0E;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

h1 {
  margin: 0;
  color: #FFF;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
}

h2 {
  margin: 0;
  color: #0C0C0E;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize; 
}

.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header-nav-icon-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-list {
  display: flex;
  flex-wrap: wrap;
}

.header-item {
  margin-right: 30px;
}

.header-link {
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  transition: 0.3s;
}

.header-link:hover,
.header-link:focus,
.header-link:active {
  color: #BB945F;
  border-bottom: 1px solid #BB945F;

}

.icon-profile {
  margin-left: 10px;
  cursor: pointer;
}

/* header styles end */

/* welcome styles start */

.welcome {
  height: 600px;
  background: linear-gradient(180deg, #0C0C0E 0%, rgba(18, 18, 21, 0.10) 50%), url(/letohx-JSFEPRESCHOOL2023Q2/library/img/welcome-bg.jpg) no-repeat center;
  background-size: cover;
}

.welcome-text {
  position: absolute;
  width: 600px;
  min-height: 220px;
  margin-top: 220px;
  color: #FFF;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
  background: #0C0C0E;
}

.welcome-text-content {
  margin: 36px auto 0;
}

/* welcome styles end */

/* about styles start */

.about {
  padding: 20px;
  height: 837px;
  background: #FFF;
}

.about-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 106px;
  height: 61px;
  margin: 0 auto;
}

.title-bottom-line {
  width: 50px;
  border-bottom: 1px solid #0C0C0E;
}

.about-text {
  margin-top: 40px;
  color: #000;
  text-align: center;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.about-img-wrapper {
  display: flex;
  justify-content: space-between;
}

.about-img {
  cursor: pointer;
  max-width: 100%;
}

.delimiter {
  width: 20px;
}

.carousel-pagination {
  margin: 30px auto 0;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}

.pagination-item {
  background: #0C0C0E;
  border-radius: 50%;
  height: 26px;
  width: 26px;
  cursor: pointer;
  transition: 0.3s;
  border: 5px solid rgb(255, 255, 255)
}

.pagination-item:hover,
.pagination-item:focus {
  background: #BB945F;
}

.pagination-item:active {
  background: #9d7d51;
}

.pagination-item-active {
  background: #BB945F;
  ;
}









/* about styles end */