@font-face {
    font-display: swap; 
    font-family: 'Squada One';
    font-style: normal;
    font-weight: 400;
    src: url('./src/font/squada-one-v18-latin-regular.woff2') format('woff2');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}
.wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

.header {
    width: 100%;
    border-bottom: 1px solid rgb(56 60 65 / 21%);
    background-color: #f5f5f7;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.search-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    padding: 20px;
}

.icons-search-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    cursor: text;
    right: 35px;
}

.button-close,
.button-search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 4px;
    border: none;
    font: inherit;
    color: inherit;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition: transform .2s ease-in-out;
}

.button-close {
    transform: translateX(33px);
}

.add-button-close {
    transform: translateX(0);
}

.button-search {
    z-index: 2;
}

.delimiter {
    background: #20212447;
    width: 1px;
    height: 25px;
    z-index: 2;
    border: none;
    opacity: 0;
    transition: opacity .2s ease-in;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.681);
}

.add-delimiter {
    opacity: 1;
    box-shadow: none;
}

svg {
    width: 24px;
    height: 24px;
    fill: #2021249a;
    transition: .2s;
}

.button-close:hover svg,
.button-search:hover svg {
    fill: #202124;
}

svg:active {
    transform: scale(1.05);
}

.input-search {
    font-size: 16px;
    max-width: 500px;
    width: 100%;
    height: 40px;
    padding: 10px 85px 10px 20px;
    border-radius: 20px;
    border: none;
    color: rgba(56, 60, 65, 0.87);
    box-shadow: 0 1px 6px 0 #20212447;
    transition: .1s ease;
    background-color: #fff;
}

.input-search:focus {
    box-shadow: 0 1px 6px 0 #2021249a;
    outline: none;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: Squada One;
    font-size: 25px;
    color: rgba(56, 60, 65, 0.87);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 40px;
    height: 40px;
    outline: 2px solid #256D7B;
    border-radius: 1px;
    gap: 1px;
    overflow: hidden;
}

.logo-pic {
    width: calc(50% - 1px);
    height: 50%;
    background-size: cover;
    filter: grayscale(80%);
    opacity: 0.7;
}

.logo-svg {
    position: absolute;
    z-index: 2;
    fill: #256D7B;
}

.main {
    width: 100%;
    background-color: #f5f5f7;
}

.main-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.img {
    width: 400px;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 7px 6px 20px 0px #202124;
}

.footer {
    min-height: 80px;
    width: 100%;
    border-top: 1px solid rgb(56 60 65 / 21%);
    background-color: #f5f5f7;
}

.footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.github-icon-container {
    max-width: 80px;
}

.github-icon {
    width: 100%;
    height: 100%;
    filter: opacity(0.7);
    transition: .2s;
}

.github-icon:hover {
    filter: opacity(1);
}

.year-creation-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    color: rgba(56, 60, 65, 0.615);
}

.rss-icon-container {
    max-width: 80px;
}

.rss-icon {
    width: 100%;
    height: 100%;
    filter: opacity(0.6);
    transition: .2s;
}

.rss-icon:hover {
    filter: opacity(1);
}