* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.menu-wrapper {
    max-width: 420px;
    width: 100%;
}

.top-menu-wrapper {
    display: flex;
    justify-content: space-between;
}

.scores-wrapper {
    display: flex;
    justify-content: space-between;
}

.bottom-menu-wrapper {
    display: flex;
    justify-content: space-between;
}

.button {
    width: 100px;
    height: 40px;
}

.area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 15px;
    background-color: #cccccc;
    max-width: 420px;
    width: 100%;
    aspect-ratio: 1/1;
    border: 15px solid #cccccc;
    border-radius: 6px;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 3px;
    font-size: 42px;
    font-weight: bold;

}

.footer {
    margin: 0 auto;
    max-width: 450px;
    width: 100%;
    max-height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    align-content: stretch; 
    font-size: 10px;
    transition: 0.2s ease-in-out;
    background-color: #ffffff;
}

.github-icon-container {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

.year-creation {
    opacity: 0.6;    
}

h2 {
    margin: 0;
    text-align: center;
    flex: 1;
    justify-content: center; 
}

.rss-icon-container {
    display: flex;
    flex: 1;
    justify-content: flex-end; 
}

.github-icon {
    max-width: 75px;
    width: 100%;
    opacity: 0.6;   
    transition: 0.2s ease-in-out; 
}

.year-creation {
    max-height: 40px;
    object-fit: contain;
}

.year-creation-text {
    font-size: 12px;
}

.rss-icon {
    max-width: 75px;
    width: 100%;
    opacity: 0.6; 
    transition: 0.2s ease-in-out;
}

.github-icon:hover,
.rss-icon:hover {
    opacity: 1;    
}