body {
    margin: 0;
    background: #000000;
  }

.background {
    position: absolute;
    background: #36364b;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(8px);
}  

.background-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.player-conteiner {
    margin: 0 auto;
    max-width: 450px;
    width: 100%;
    max-height: 900px;
    height: 100%;
    padding: 50px;
}

.thumbnail {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 38px #000000c4;
}

.progress-bar-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.progress-bar {
    width: 100%;
}

.progress-bar-time {
    display: flex;
    justify-content: space-between;
    color: rgba(240, 248, 255, 0.501);
}

.song-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.song-artist {
    color: rgba(240, 248, 255, 0.501);

}

.song-title {
    color:aliceblue;
    font-weight: 700;
}

.controls {
    display: flex;
    justify-content: space-evenly;
}

.play-pause,
.next-song,
.previous-song {
    width: 50px;
    height: 50px;
    filter: invert(0.9);
}

