/* inter-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/font/inter-v13-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-700 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/font/inter-v13-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #000000;
    height: 100vh;
    font-family: Inter;
    font-size: 16px;
}

.background-wrapper {
    margin: 0 auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1e1e25;
    width: 100vw;
    height: 100%;
    z-index: -1;
    filter: blur(8px);
    overflow: hidden;
}

.background-img {
    margin: 0 auto;
    object-fit: cover;
    width: 150vw;
    height: 150vw;
    opacity: 0.4;
    animation: rotate 100s linear infinite;
    transform: scale(1.2);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.blackout-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    z-index: -1;
    background: linear-gradient(180deg, rgb(98 98 99 / 0%) 40%, #000000f0 85%)
}

.player-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 50vh;
    height: 100vh;
    padding: 0 10vw;
    overflow: hidden;
}

.wrapper-thumbnail-progress-bar {
    margin-top: 10vh;
}

.thumbnail {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 38px #00000073;
    transition: 0.3s ease-in-out;
}

.thumbnail-play {
    box-shadow: 0px 0px 38px #000000d5;
}

.progress-bar-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.progress-bar-bg {
    left: 0;
    border: 0;
    width: 100%;
    height: 4px;
    position: absolute;
    background-color: #ffffff1f;
    border-radius: 2px;
    pointer-events: none;
    z-index: -1;
}

.progress-bar-before {
    left: 0;
    border: 0;
    width: 0%;
    height: 4px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 2px;
    transition: background-color 0.5s;
    z-index: -1;
    cursor: pointer;
}

.progress-bar-wrapper:hover .progress-bar-before {
    background-color: #1DB954;
}

.progress-bar {
    -webkit-appearance: none;
    -moz-apperance: none;
    appearance: none;
    position: relative;
    width: 100%;
    height: 4px;
    margin-bottom: 10px;
    background-color: #26262600;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-left: 0px;
    height: 11px;
    width: 11px;
    border: 0;
    background: rgba(255, 255, 255, 0);
    border-radius: 50%;
    cursor: pointer;
    z-index: -2;
    transition: 0.1s;
}

.progress-bar:hover::-webkit-slider-thumb {
    background: white;
    box-shadow: 0px 0px 5px black;
}

.progress-bar-time {
    display: flex;
    justify-content: space-between;
    color: rgba(240, 248, 255, 0.501);
    font-size: 12px;
}

.song-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.song-artist {
    color: rgba(240, 248, 255, 0.501);
    font-size: 14px;
}

.song-title {
    color:aliceblue;
    font-weight: 700;
    margin-bottom: 2px;
}

.controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }

.play-prev,
.play,
.play-next {
    width: 50px;
    height: 50px;
    filter: invert(1);
    transition: 0.2s;
    background-size: 50px 50px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    outline: 0;
    opacity: .8;
    transition: .3s;
}

.play-prev,
.play-next {
    filter: invert(0.7);
}

.play:active {
    transform: scale(1.05);
}

.play-prev:active,
.play:active,
.play-next:active {
    filter: invert(0.7);
}

.play {
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    background-image: url("./assets/png/play.png");
}
  
.pause {
    background-image: url("./assets/png/pause.png");
}
  
.play-prev {
    background-image: url("./assets/png/backward.png");
}

.play-next {
    background-image: url("./assets/png/forward.png");
}

.play-prev:hover,
.play-next:hover {
    filter: invert(1);
}

.play-prev:active,
.play-next:active {
    filter: invert(0.7);
}

.footer {
    margin: 5vh auto 1vh;
    max-width: 450px;
    width: 100%;
    max-height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    align-content: stretch; 
    font-size: 10px;
    filter: invert(100%);   
    transition: 0.2s ease-in-out;
}

.github-icon-container {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

.year-creation {
    opacity: 0.6;    
}

h2 {
    margin: 0;
    text-align: center;
    flex: 1;
    justify-content: center; 
}

.rss-icon-container {
    display: flex;
    flex: 1;
    justify-content: flex-end; 
}

.github-icon {
    max-width: 75px;
    width: 100%;
    opacity: 0.6;   
    transition: 0.2s ease-in-out; 
}

.year-creation {
    max-height: 40px;
    object-fit: contain;
}

.year-creation-text {
    font-size: 12px;
}

.rss-icon {
    max-width: 75px;
    width: 100%;
    opacity: 0.6; 
    transition: 0.2s ease-in-out;
}

.github-icon:hover,
.rss-icon:hover {
    opacity: 1;    
}

/* Media */
@media screen and (max-width: 670px) {
    .song-name {
        align-items: flex-start;
    }
}

@media screen and (max-aspect-ratio: 1) {
    .background-img {
        width: 200vw;
        height: 200vw;
    }
}

@media screen and (max-aspect-ratio: 1/1.5) {
    .background-img {
        width: 250vw;
        height: 250vw;
    }
}